

.page-section {

  padding: .6rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $darkBlue;
    color: white;
  }

  &--testimonials {

    background-color: rgba(30, 30, 250,0.2);
    @mixin atLarge {
      background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
      background-size: cover;
    }


  }
}
