.row {

  @mixin clearfix;
/*mobile first !!! defaultowo wszystkie sa atSmallest*/
  &__4{
    float:left;
    width: 33.33%;
  }

  &__8{
    float:left;
    width: 66.66%;
  }



  &__12{
      width: 100%;
  }



  @mixin atMedium {


    &__medium-6{
      float:left;
      width: 50%;
    }


    &__medium-4{
        float:left;
        width: 33.33%;
    }

    &__medium-4--larger{
        float:left;
        width: 37%;
    }

    &__medium-8{
        float:left;
        width: 66.66%;
    }

    &__medium-8--smaller{
        float:left;
        width: 63%;
    }
  }
  &--gutters {
    margin-right: -65px;
  }
  /*wszystkie divy w srodku guttersa*/
  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }
  /*wszystkie divy w srodku guttersa*/
  &--gutters-large > div {
    padding-right: 100px;
  }
}
