
.section-title{

    font-size: 2.0rem;
    font-weight: 300;
    text-align: center;
    strong {
      font-weight: 500;
    }

    @mixin atSmall {
      font-size: 2.5rem;
      margin-bottom: 1.35rem;
    }

    @mixin atMedium {
      font-size: 3.75rem;
      margin-bottom: 2.0rem;
    }

    &--blue {
      color : $darkBlue;
    }

    &--red {
      color: $darkRed;
    }


    &--b-margin-until-medium {
      margin-bottom: 7.5rem;
    }

    &__icon {
      display: block;

      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 8px;

      @mixin atSmall {
        margin-bottom: 0;
        display: inline-block;
      }
    }

}
