.testimonial {

  background-color: $transparentWhite;
  padding : 0, 1.0rem, 1.px, 1.0rem;
  position:relative;

  width:100%;
  margin: 6.0rem auto;

  @mixin atSmall {
    padding : 0, 1.875rem, 1.px, 1.875rem;
    width: 80%;
    margin: 100px auto;
  }

  @mixin atLarge {
    margin: 0;
    width: 100%;
  }

  &--t-margin--medium {
    margin-top: 80px;
  }

  &__photo {
    border-radius: 80px;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, .8);
  }

  &__text-content {

    margin: 0 auto;
    padding: 30px 20px;

    @mixin atLarge{
      padding : 18px;
    }

    @mixin atMedium {
      padding: 50px 20px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    color : $darkBlue;
    margin : 0;

    @mixin atSmall{
      margin-bottom: 1.0rem;
    }
  }

  &__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 1.0rem;
    color : $darkRed;
    margin: 5px 0;
  }

  &--b-small{
    margin-bottom: 1.0rem;

    @mixin atSmall {
      margin-bottom: 4.0rem;
    }

    @mixin atMedium {
      margin-bottom: inherit;
    }
  }

}
